snippet textarea
	<textarea name="${1:Name}" rows="${2:8}" cols="${3:40}">${4}</textarea>${5}

snippet lang
	<xhtml:link rel="alternate" hreflang="${1:}" href="https://$1.aircraftcovers.com/${2:}" />${3:}
